extends layout

block content
  h1= title
  p Welcome to my solution for #{title}   
  p Please go to 
   strong /search 
   |route to test the API, Thanks   
  p Query Example 
    strong /search?q=Nutrition in Plants